.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.box {
  display: flex;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  color: #C4C4CC;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

.div {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
}

.text {
  align-self: center;

}